body {
  margin: 0;
  font-family: "Cinzel", serif;
  background: linear-gradient(135deg, #150b3d, #2c1a5e);
  color: #f8eec7;
}

/* LOGIN */
#login {
  width: 450px;
  margin: 80px auto;
  padding: 25px;
  background: rgba(0,0,0,0.3);
  border: 2px solid gold;
  border-radius: 14px;
  text-align: center;
  color: gold;
}

#login input, #login button {
  width: 95%;
  margin-top: 10px;
  padding: 10px;
  font-family: "Cinzel";
}

.hidden {
  display: none !important;
}

/* CHAT LAYOUT: 2 COLUMNS */
#chat {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 40px;
}

/* CHAT PANEL */
#chatPanel {
  background: rgba(0,0,0,0.4);
  border: 2px solid goldenrod;
  padding: 20px;
  border-radius: 10px;
}

#messages {
  height: 400px;
  overflow-y: auto;
  border: 1px solid gold;
  padding: 10px;
  background: #0d0a18;
  border-radius: 10px;
}

/* MESSAGE STYLE */
.message {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,215,0,0.2);
  padding: 8px;
  border-radius: 8px;
  margin: 6px 0;
  transition: 0.2s;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message:hover {
  background: rgba(255,255,255,0.15);
  cursor: pointer;
}

/* PLAYER LIST */
#playerListPanel {
  background: rgba(0,0,0,0.3);
  border: 2px solid goldenrod;
  padding: 20px;
  height: 500px;
  border-radius: 10px;
}

#playerListPanel h3 {
  text-align: center;
  color: gold;
}

#playerList li {
  list-style: none;
  margin: 10px 0;
  padding: 5px;
  background: rgba(255,255,255,0.08);
  border-radius: 6px;
  text-align: center;
}

/* INPUT */
#messageInput {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
}

#sendBtn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: goldenrod;
  color: black;
  font-weight: bold;
}
